{% load static %}
{% include 'core/analytics.html' %}
<body class="p-8">
<script src="https://cdn.tailwindcss.com"></script>

<link rel="shortcut icon" href="{% static 'core/logo.svg' %}"/>
<h1 class="p-8">Listings that do not fit into our ethical standards will not be published</h1>
<div class="bg-slate-900">

<form class="p-8" action="{% url 'adder' %}" method="post">
<div class="mb-6">
<label for="listing_name" class=" block mb-2 text-sm font-medium text-slate-100 ">Name</label>
<input name="name" type="text" id="listing_name" class="bg-slate-800 text-slate-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="eg: Maldives Central" required="">
</div>
{% csrf_token %}
<div class="mb-6">
<label for="listing_link" class="block mb-2 text-sm font-medium text-slate-100 ">Link</label>
<input name="link" type="text" id="listing_link" class="bg-slate-800 text-slate-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="eg: maldivescentral.com" required="">
</div>
<button type="submit" class="text-white bg-slate-800 hover:bg-slate-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
</form>
</div>
</body>