{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% for val2 in cats.iterator %}
{% if val2.category_slug in request.path %}
<meta name="description" content="MaldivesCentral.com is the ultimate digital directory of Maldives. Explore Maldivian Links that fit into the {{ val2.category_name }} Category, in this page.">
{% endif %}
{% endfor %}
<meta name="twitter:card" content="Help us build the ultimate digital
directory of Maldives." />
<meta name="twitter:site" content="@maldivescentral" />
<meta name="twitter:creator" content="@maldivescentral" />
<meta property="og:title" content="Help us build the ultimate digital
directory of Maldives." />

{% for val2 in cats.iterator %}
{% if val2.category_slug in request.path %}
<meta property="og:description" content="MaldivesCentral.com is the ultimate digital directory of Maldives. Explore Maldivian Links that fit into the {{ val2.category_name }} Category, in this page.">
{% endif %}
{% endfor %}
{## request. something#}
<meta property="og:image" content="http://maldivescentral.com{% static 'core/og_main.png' %}" />

<script src="https://cdn.tailwindcss.com"></script>
<link rel="shortcut icon" href="{% static 'core/logo.svg' %}"/>